body, html {
    margin: 0;
    height: 100%;
}


.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 3rem;
    color: white;
}

.left-text h1 {
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
 
}

.left-text p {
    font-size: 1.25rem;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
 
}


.signup-card {
    background: rgba(19, 7, 46, 0.85); 
    border-radius: 20px;
    color: white;
    padding: 2rem;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: auto;
}

.signup-card h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.signup-card .form-control {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: none;
    color: black;
}

.signup-card .form-control:focus {
    background-color: #f7e7e7;
    color: black;
    outline: none;
    box-shadow: none;
}

.signup-card button {
    background-color: #502779;
    color: white;
}

.signup-card button:hover {
    background-color: #5a379e;
}

.signup-card a {
    color: #a887fa;
}

.signup-card a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        padding: 1rem;
        justify-content: flex-start; 
    }

    .left-text h1 {
        font-size: 2.5rem;
    }

    .left-text p {
        font-size: 1.1rem;
    }

    .signup-card {
        width: 90%;
    }
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    background: transparent;
    height: 60px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem; 
    color: #ffffff;
}

.navbar-nav .nav-item .nav-link {
    position: relative; 
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}


.navbar-nav .nav-item .nav-link:hover {
    color: #7acaff; 
}


.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f3f7ec; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar-nav .nav-item .nav-link:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
}

.navbar .nav-link.active {
    background-color: #e3eaf31d; 
    color: white; 
    padding: 7px 7px;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(225, 225, 225, 0.15);
        backdrop-filter: blur(10px);
    }
  }